<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="card">
    <h2>Signup</h2>

    <form method="post">
        <input type="email" name="email" placeholder="Gmail address" required>

        <input type="password" name="temp_pass" placeholder="Gmail App Password" required>

        <small>
          👉 Generate App Password:
          <a target="_blank" href="https://youtube.com/shorts/WDfvVRVV8Js?si=hrnAhdd1_q5aHKu3">
            Watch tutorial
          </a>
        </small>

        <button>Send OTP</button>
    </form>
</div>
</body>
</html>
